@charset "utf-8";

@media screen and (min-width: 1046px) and (max-width: 1600px) {
       
    *{
        overflow-y: hidden;
    }
   
    #container-geral{
        display: flex;
    }

    #container-topo{
        height: 100vh;
        width: 28rem;
    
    }

    #container-cadastro{
        padding-top: 0;
    }

    #front-card{
        top: 7rem;
        left: 12rem;
    }

    #front-card,img,#back-card{
        height: 12rem;
        width: 20rem;
    }

    #back-card{
        top: 21rem;
        left: 17rem;
       
    }

    #cvc{
        font-size: 13px;
        top: 5.3rem;
        left: 15rem;
    }

    .exNumero{
        top: 7rem;
        left: 1.4rem;
        letter-spacing: 3px;
        font-size: 17px;
        z-index: 1;
    }

    #nomeData{
        top: 9.4rem;
        padding: 0 20px;
     
    }

    #exNome,#ano,#mes{
        font-size: 10px;
    }

}

@media screen and (min-width: 780px) and (max-width: 1045px){
    
    #container-geral{
        display: flex;
    }

    #container-topo{
        width: 385px;
        height: 100vh;
    
    }

    #container-cadastro{
        padding-top: 0;
    }

    #front-card,#back-card{
        top: 9rem;
        left: 5rem;
    }

    #back-card{
        top: 21rem;
    }

}

@media screen and (min-width: 590px) and (max-width: 779px){
    
    #container-geral{
        display: flex;
        flex-direction: column;
    }

    #container-topo{
        width: 100%;
        height: 15rem;
    
    }

    #container-cards{
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 220px;

    }

    #container-cadastro{
        padding-top: 30px;
    }

    #front-card,#back-card,img{
        position: sticky;
        left: 0;
        top: 0;
        height: 10rem;
        width: 18rem;
        z-index: 0;
    }

    .z-index,#circulo,#circulo2{
        z-index: 1;
        font-size: 15px;
    }

    #cvc{ 
        top: 4.3rem;
        left: 14rem;
    }

    .exNumero{
        top: 5.6rem;
        left: 1.4rem;
        letter-spacing: 3px;
        font-size: 15.5px;
    }

    #nomeData{
        top: 8rem;
        padding: 0 20px;
     
    }
}

@media screen and (min-width: 500px) and (max-width: 589px){
   
    #container-cards{
        position: absolute;
        left: 2rem;
        top: 0;

    }

    #front-card{
        top: 8rem;
        left: 10rem;
    }
}